{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-recess-order",
    "prettier-stylelint"
  ],
  "rules": {
    "prettier/prettier": true,
    "indentation": 4
  },
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "**/*.ts",
    "**/*.tsx"
  ]
}
